@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-mona-sans: 'Mona Sans', system-ui, sans-serif;
    --radius: 0.5rem;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
